<div class="row">
    <div class="col-xs-6 col-sm-offset-3">
        <h3>Login with existing user credentials</h3>
        <div *ngIf="isLoading" class="loading">
            <app-loading-spinner></app-loading-spinner>
            <p>Validating credentials...</p>
        </div>
        <form (ngSubmit)="onSignin(form)" #form="ngForm">
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email"
                       id="email"
                       name="email"
                       ngModel
                       required
                       email
                       class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password"
                       id="password"
                       name="password"
                       ngModel
                       required
                       class="form-control">
            </div>
            <ng-template appPlaceholder></ng-template>
            <button class="btn btn-primary" type="submit" [disabled]="form.invalid">
                Log In
            </button>
        </form>
    </div>
</div>
